<h1>Story Time</h1>

<% if @stories.any? %>
  <% @stories.each do |story| %>
    <%= link_to story.name, story_path(story) %>
  <% end %>
<% else %>
  <p>There are no stories yet! :(</p>
<% end %>

<hr>

<%= link_to "New Story", new_story_path %>
