<div class="jumbotron">
  <h1>Story Time</h1>
</div>

<% if @stories.any? %>
  <% @stories.each do |story| %>
  <h2 class="stories"><%= link_to story.name, story_path(story) %></h2>
  <% end %>
<% else %>
  <p>There are no stories yet! :(</p>
<% end %>

<hr>

<%= link_to "New Story", new_story_path %>
